body {
  margin: 0;
  overflow-X: hidden;
  font-family:'SF Pro Display';
	font-style:normal;
	font-weight:100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
